/* ChordProgressionTable.css */
.CourierTable {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: large;
}

.voicing-dropdown-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.delete-icon {
  cursor: pointer;
}

.delete-icon:hover {
  color: rgb(220, 0, 0); /* Change this to your desired hover color */
}