/* ChordProgressionTable.css */
.CourierTable {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: large;
}

.voicing-dropdown-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
