/* TableDropdown.css */

.table-dropdown-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
  
.table-dropdown .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: black !important; /* Default border color */
}
  
.table-dropdown .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: black !important; /* Border color when hovered */
}
  
.table-dropdown .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: black !important; /* Border color when focused */
}
  
.table-dropdown .MuiInputLabel-root {
    color: black !important; /* Default label color */
}
  
.table-dropdown .MuiInputLabel-root.Mui-focused {
    color: black !important; /* Label color when focused */
}
  
.table-dropdown .MuiSelect-select,
.table-dropdown .MuiMenuItem-root {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}
  
.table-dropdown .MuiMenuItem-root.Mui-selected {
    background-color: green !important; /* Selected item background color */
    color: white !important; /* Selected item text color */
}
  
.table-dropdown .MuiMenuItem-root {
    text-align: right;
}
  
.table-dropdown .MuiList-root {
    text-align: right;
}
