.container {
    position: relative;
    background-image: url('../assets/red-guitar-get-started.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
    padding: 20px;
    text-align: center;
    color: white;
  }
  
  .header h1 {
    margin: 0;
    font-size: 3rem;
  }
  
  .header p {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .github-button, .get-started-button {
    background-color: red; /* Button color */
    border: none;
    padding: 10px 20px;
    margin: 10px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .github-button:hover, .get-started-button:hover {
    background-color: darkred;
  }
  